<%= link_to "<< Back", people_path, class: "btn btn-success btn-sm mb-2" %>
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4 bg-dark">
      <%= character_image(@person) %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
          <%= @person.name %>
        </h5>
        <p class="card-text">
          <%= @person.introduction %>
        </p>
      </div>
    </div>
  </div>
</div>
