---
http_interactions:
- request:
    method: get
    uri: https://swapi.dev/api/species/?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"3e51d492b96c4a7b9ede717440ef8cc7"'
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":37,"next":"https://swapi.dev/api/species/?page=3","previous":"https://swapi.dev/api/species/?page=1","results":[{"name":"Neimodian","classification":"unknown","designation":"sentient","average_height":"180","skin_colors":"grey,
        green","hair_colors":"none","eye_colors":"red, pink","average_lifespan":"unknown","homeworld":"https://swapi.dev/api/planets/18/","language":"Neimoidia","people":["https://swapi.dev/api/people/33/"],"films":["https://swapi.dev/api/films/4/"],"created":"2014-12-19T17:07:31.319000Z","edited":"2014-12-20T21:36:42.160000Z","url":"https://swapi.dev/api/species/11/"},{"name":"Gungan","classification":"amphibian","designation":"sentient","average_height":"190","skin_colors":"brown,
        green","hair_colors":"none","eye_colors":"orange","average_lifespan":"unknown","homeworld":"https://swapi.dev/api/planets/8/","language":"Gungan
        basic","people":["https://swapi.dev/api/people/36/","https://swapi.dev/api/people/37/","https://swapi.dev/api/people/38/"],"films":["https://swapi.dev/api/films/4/","https://swapi.dev/ap[...]
