body, html {
  height: 100%;
}

.background {
  height: 100%;
  background-image: url("https://wallpaperaccess.com/full/11792.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
